@model User

@{
    ViewBag.Title = "Авторизация";
}

    <form method="post" asp-action="">
        <label class="textbox" asp-for="Login">Логин: <input type="text" asp-for="Login" placeholder="Введите логин"/></label>
        <label class="textbox" asp-for="Password">Пароль: <input type="password" asp-for="Password" placeholder="Введите пароль"/></label>

        <input class="button" type="submit" value="Войти" />

        <a asp-action="RegistrationPage">Регистрация</a>
    </form>


