@model User

@{
    ViewBag.Title = "Авторизация";
}

    <form asp-controller="account" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <span asp-validation-for="Login"></span><br />
        <span asp-validation-for="Password"></span>
        <div class="textbox">
            <label asp-for="Login"></label>
            <input type="text" asp-for="Login" placeholder="Enter your username" />
        </div>
        <div class="textbox">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" placeholder="Enter the password" />
        </div>

        <input class="button" type="submit" value="Sign In" />

        <a asp-action="RegistrationPage">Sign Up</a>
    </form>


