@model User

@{
    Layout = "_Layout";
    ViewBag.Title = "Информация";
}

<div>
<h1>Пользователь @Model.Login</h1>
<div>
    <dl>
        <dt>Идентификатор</dt>
        <dd>@Model.Id</dd>

        <dt>ФИ</dt>
        <dd>@Model</dd>
    </dl>
</div>
    </div>

