@model User

@{
    ViewBag.Title = "Регистрация";
}

@ViewBag.MessageError
    <form method="post">
        <div asp-validation-summary="All"></div>

        <label class="textbox" asp-for="FirstName">Имя: <input type="text" asp-for="FirstName" placeholder="Введите имя" /></label>
        <label class="textbox" asp-for="LastName">Фамилия: <input type="text" asp-for="LastName" placeholder="Введите фамилию" /></label>
        <label class="textbox" asp-for="Login">Логин: <input type="text" asp-for="Login" placeholder="Введите логин" /></label>
        <label class="textbox" asp-for="Password">Пароль: <input type="password" asp-for="Password" placeholder="Введите пароль" /></label>

        <input class="button" type="submit" value="Зарегистрироваться" />
    </form>

