@model User

@{
    ViewBag.Title = "Регистрация";
}

    <form asp-controller="account" method="post">
        <div asp-validation-summary="All"></div>

        <div class="textbox">
            <label asp-for="Role"></label>
            <select asp-for="Role" asp-items="@Html.GetEnumSelectList<Roles>()">
            </select>
        </div>
        <div class="textbox">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" placeholder="Enter a name" />
        </div>
        <div class="textbox">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" placeholder="Enter your last name" />
        </div>
        <div class="textbox">
            <label asp-for="Login"></label>
            <input type="text" asp-for="Login" placeholder="Enter your username" />
        </div>
        <div class="textbox">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" placeholder="Enter the password" />
        </div>

            <input class="button" type="submit" value="Sign Up" />
    </form>

