@model WebApplicationTest.Models.User

@{
    Layout = "_Layout";

    ViewBag.Title = "Главная";
}

@ViewBag.MessageError
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <label class="textbox">Имя: @Html.TextBoxFor(x => x.FirstName)</label>
    <label class="textbox">Фамилия: @Html.TextBoxFor(x => x.LastName)</label>

    <input class="button" type="submit" value="Добавить" />
}

